*.pyc
~*
django-notes-2017*
*/__pycache__

capstone_concepts.md
capstone_product_plan.md
/local-roots-venv
/static
/notebook
db.sqlite3
db.postgresql
.DS_STORE
locations_backup.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
settings_dev.py
