html,
body {
	margin:0;
	padding:0;
	height:100%;
}

#header {
	padding:10px;
  border-bottom: solid;
  border-width: thin;
}


.index_content {
	padding: 2% 10%;
}

#header h1 {
  text-align: center;
}

#login {
	text-align: right;
	padding: 8px 24px 0px 24px;
}




#main {
	padding:0 2% 100px 2% ; /* Height of the footer element */
}

#content {
  padding-bottom: 2%
}

#wrapper {
	min-height:100%;
	position:relative;
}


#footer {
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
  border-top: solid;
  border-width: thin;
  padding-left: 2%;
}

h1, h2, h3, h4, h5 {
  font-family: 'Abril Fatface', cursive;
}

p, li {
  font-family: 'Raleway', sans-serif;
}

.card-title {
	font-size: 1.25rem;
}

nav {
  width: 100%;
}

nav ul {
  list-style: none;
}

a, a:visited, li, a.nav-link  {
    color: #3D9970;
}

a:hover, a:active, li.active {
    color: #01FF70;
    text-decoration: none;
}

.social-media li  {
  list-style-type: none;
  padding-right: 3%;
  display: inline;
}

.social-media a {
  border: none;
}

.social-media a:hover {
  background-color: inherit;
}

.social-media img:hover, .projects-intro img:hover {
  background-color: #01FF70;
  border-radius: 20px;
}

#map {
	height: 200px;
	width: 30%;
}

.card {
	margin: 2%;
}

.image_container {
	width: 450px;
	height: 450px;
	position: relative;
	padding: 25px;

}

.image {
    opacity: 1;
		width: 400px;
		height: 400px;
		display: block;
		transition: .5s ease;
		backface-visibility: hidden;
		border-style: solid;
		border-width: thin;
}


.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.image_container:hover .image {
  opacity: 0.3;
}

.image_container:hover .middle {
  opacity: 1;
}

.overlay_text {
	color: black;
  font-size: 24px;
  padding: 16px 32px;
}
