{% extends 'farm_site/base.html' %}

{% block content %}
<h2>Who we are</h2>
<p>
  Local Roots is a family-run vegetable farm in the Snoqualmie river valley, about 20 miles outside of Seattle. Wife and husband team Siri and Jason, along with a small crew of workers and apprentices, grow about ten acres of vegetables, which we sell at Seattle-area farmers markets, through our Community Supported Agriculture subscription program, and to many fine restaurants.
</p>

<h2>Our growing practices</h2>
<p>
  Local Roots uses no synthetic inputs on our farm. We build soil fertility with cover crops and compost, control weeds with tractor and human powered tools, minimize insect damage with spun-fabric row cover, and accept a certain amount of crop loss due to pests, disease, and bad weather. We choose not to participate in the USDA Organic certification program, but hold ourselves to a standard that we believe is even higher.
</p>

<h2>Local Roots in the news</h2>
<a href="http://edibleseattle.ediblecommunities.com/local/farm-table-truly-local-roots" target="_blank">2013 Edible Seattle Article</a></br>
<a href="http://www.brides.com/blogs/aisle-say/2013/12/washington-wedding-local-roots-farm-omalley-photographers.html" target="_blank">2013 Farm Wedding feature</a>
{% endblock %}
