{% extends 'farm_site/base.html' %}
{% load custom_tags %}

{% block dashboardnav %}
{% include 'farm_site/dashboard_nav.html' %}
{% endblock %}

{% block content %}



<div class='row'>
  <div class="col-xs-12 col-s-12 col-md-10 col-lg-8">
<form method='POST' class='post-form'>
  <div class='row'>
    <h2 class="col-xs-12 col-s-12 col-md-8 col-lg-6">Manage {{ current_year }} CSA Signups</h2><div class='col-xs-12 col-s-12 col-md-2 col-lg-2'>

    <button type='submit' class='save btn btn-outline-success'>Update Signups</button></div>
  </div>
  <table class="table  table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Sign Up Date</th>
        <th>Paid</th>
      </tr>
    </thead>
    {% csrf_token %}
    {{ formset.management_form}}
    {% for signup, form in signups %}
        <tr>

          <td>
            <a href='{% url 'member_info' member_id=signup.member.id %}'>{{ signup.member}}</a>
          </td>
          <td>  {{ signup.location}}</td>
          <td>  {{ signup.created_date|date }}</td>
          <td>
            {{form.id}}
            {{form.paid}}
          </td>
        </tr>
    {% endfor %}
  </table>
  <button type='submit' class='save btn btn-outline-success'>Update Signups</button>
</form>
</div>
</div>
{% endblock %}
