{% extends 'farm_site/base.html' %}

{% block dashboardnav %}
  {% include 'farm_site/dashboard_nav.html' %}
{% endblock %}

{% block content %}
<h2>Manage {{ current_year }} CSA Signups</h2>
<p>Signups needing your attention: {{ active.count }}</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Paid</th>
    </tr>
  </thead>
  {% for signup in active %}
  <tr>
    <td>
      <a href='{% url 'member_info' member_id=signup.member.id %}'>{{ signup.member.first_name}} {{ signup.member.last_name}}</a>
    </td>
    <td>
      {{ signup.location.name }}
    </td>
    <td>
      checkbox for paid
    </td>
  </tr>
  {% endfor %}
</table>


{% endblock %}
