{% extends 'farm_site/base.html' %}

{% block dashboardnav %}
{% include 'farm_site/dashboard_nav.html' %}
{% endblock %}

{% block content %}

<h2>Manage {{ current_year }} CSA Signups</h2>

<form method='POST' class='post-form'>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Paid</th>
      </tr>
    </thead>
    {% csrf_token %}
    {{ formset.management_form}}
    {% for signup, form in signups %}
        <tr>
          <td>
            {{ signup.member}}
          </td>
          <td>
            {{ signup.location}}
          </td>
          <td>
            {{form.id}}
            {{form.paid}}
          </td>
        </tr>
    {% endfor %}
  </table>
  <button type='submit' class='save btn btn-outline-primary'>Update Signups</button>
</form>
{% endblock %}
