{% extends 'farm_site/base.html' %}
{% load custom_tags %}
{% load render_table from django_tables2 %}

{% block dashboardnav %}
  {% include 'farm_site/dashboard_nav.html' %}
{% endblock %}

{% block content %}
<table class="table">
  <div class="dropdown">
    <div class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Season
    </div>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for season in seasons %}
        <a class="dropdown-item" href='{% url 'by_season' season_id=season.id %}'>{{ season }}</a>

        {% endfor %}
      </div>
  </div>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Location
    </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

      </div>
  </div>
</table>

  <div class='table-responsive'>
    {% render_table signups %}

  </div>



{% endblock %}
