{% load staticfiles %}

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Local Roots Farm</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|Raleway">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel=stylesheet href="{% static 'css/colors.css' %}">
  </head>

  <body>
    <div id="wrapper">
      <div id="header">
        <h1><a href='{% url 'index' %}'>Local Roots Farm</a></h1>
      </div>

      <nav class='navbar navbar-toggleable-md navbar-light bg-faded'>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href='#about'>About <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#csa">CSA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#find-us">Find Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#restaurants">Restaurants</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href='{% url 'dashboard' %}'>dashboard</a>
            </li>
          </ul>

        </div>
      </nav>

      {% block dashboardnav %}
      {% endblock %}

      <div id="main">
        <div id="content">
          {% block content %}
          {% endblock %}
        </div>
      </div>

      <div id="footer" >
        <div class='row'>
          <div class='col-md-4' >
            <p>p: 206-555-5555</br>
            e: farm@localroots.com
            </p>
          </div>
          <div class='col-md-4' >
            <p>Mailing Address:</br>
            P.O. Box 526</br>
            Duvall, WA 98019</p>
          </div>
          <div class='col-md-4'>
            <p>Find Us on Social media:</p>
            <ul class = "social-media">
              <li><a href="https://www.instagram.com/localrootsfarm/", target = "_blank"><img src="../static/assets/instagram.svg" alt="instagram" height="40px"></a></li>
              <li><a href="https://www.facebook.com/Local-Roots-Farm-204688736212926/", target = "_blank"><img src="../static/assets/fb.svg" alt="facebook" height="40px"></a></li>
            </ul>
          </div>
        </div>
      </div>

      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    </div>

  </body>

</html>
