{% extends 'farm_site/base.html' %}

{% block content %}
<h2>CSA</h2>
<p>
  We are now accepting new and returning members for our 2017 CSA season. This is our eleventh year farming and offering our well-loved CSA. All our produce is grown by us, here on our farm. We have pickup sites throughout Seattle, as well on-farm pickup. Our season is 26 weeks from June to November.
</p>

<h2>Why join our CSA?</h2>
<p>
  Happy CSA members: Each year, about 75% of our members re-join. Our year-end member survey consistently shows very high levels of satisfaction with our produce selection, quality, and value for price.
</p>

<p>
  Longer CSA season: We’ve invested in storage infrastructure on our farm that enables us to provide diverse vegetable offerings all the way through November. For 2017 our CSA season is 26 weeks long, and we’re always trying new varieties and new storage methods to extend the season even further.
</p>
<p>
  Everything is grown by us: We love to grow and eat a whole lot of different vegetables. We work hard to provide our CSA members with a wide variety of produce throughout the growing season. We do not buy in produce from other growers, but we do have some great…
</p>

<h2>What's in a box?</h2>
<p>
  We offer two box sizes. The	standard box	is	suitable	for	a	household	of	two	people	who	cook	at	home	three	to	four	nights	a	week.
The	standard	box	includes	7-10	items	(e.g.	1	head	lettuce,	1	bunch	kale,	1#	carrots)	each	week.
The	large	box	option		typically	has	one	or	two	additional	items	and/or	larger	quantities	of
staple	items	like	salad	greens,	potatoes,	squash,	broccoli	and	green	beans.
</p>
<h2>Price</h2>
<p>Standard box: $570</p>
<p>Large box: $715</p>
<p>
  This works out to just under $22 per box for the standard size and $27.50 for the large size. This works out to  about a 15% disocunt compared to buying these items at a grocery store or farmers market.
</p>
<p>When you sign up, you will have the option to mail us a check or choose one of various online options (like through your bank's online bill pay service).</p>
<h2>Eggs</h2>
<p>
  We partner with Goose and Gander Farm to offer a half-dozen or dozen eggs as a 20-week-add-on.
</p>
<button class='save btn btn-outline-primary'><a href="{% url 'signup_member' %}" >Sign Up Today!</a></button>
<button class='save btn btn-outline-primary'><a href="{% url 'returning_member' %}" >Returning Member</a></button>

<h2>Locations</h2>
<div id="map-canvas"></div>
{% endblock %}
