{% extends 'farm_site/base.html' %}


{% block content %}
<h2>Your Profile<h2>
<p>{{ member }}   ><a class='save btn btn-outline-success' role='button' href="{% url 'csa_member_edit' member_id=member.pk %}">Edit My Info</a></button></p> 

{% if member.current_signup %}
<h4>{{ member.current_signup.season }} Sign Up info </h4>
<p>Pickup location: {{ member.current_signup.location.name }} ><a class='save btn btn-outline-success' role='button' href="{% url 'edit_location' member_id=member.id %}">Change Pickup Location</a></button>
<p>Paid:
  {% if member.current_signup.paid %}
  Yes
  {% else %}
  No
  {% endif %}
</p>
{% else %}
<p>You're not signed up for the current season</p>
{% endif %}

<h4>Contact info</h4>

<h5>Address</h5>
<p>{{ member.street_address}}</p>
<p>{{ member.city }} {{ member.state }} {{ member.zipcode}}</p>

<h5>Phone</h5>
<p>{{ member.phone }}</p>

<h5>Email</h5>
<p>{{ member.email }}</p>

{% endblock %}
