<div class="dashboard">
<h2>Manage the crap out of your farm</h2>
<nav class='dashboard navbar navbar-toggleable-md'>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div>
    <ul class="dashboard nav nav-tabs">
      <li class="nav-item">
        <a class='{% if request.resolver_match.url_name == "active_signups" %}active{% endif %} nav-link' href='{% url 'active_signups' %}'>Process Signups</a>
      </li>
      <li class='nav-item'>
        <a class='{% if request.resolver_match.url_name == "members" %}active{% endif %} nav-link' href='{% url 'members' %}'>Current Season<span class="sr-only">(current)</span></a>
      </li>
      <li class='nav-item'>
        <a class='{% if request.resolver_match.url_name == "locations" %}active{% endif %} nav-link' href='{% url 'locations' %}'>Current Season Locations<span class="sr-only">(current)</span></a>
      </li>
      <li class='nav-item'>
        <a class='{% if request.resolver_match.url_name == "by_season" %}active{% endif %} nav-link' href="{% url 'by_season' season_id=0 %}"><span class="sr-only">(current)</span>All Seasons</a>
      </li>
      <li class='nav-item'>
        <a class='{% if request.resolver_match.url_name == "email" %}active{% endif %} nav-link' href="{% url 'email' %}"><span class="sr-only">(current)</span>Email Members</a>
      </li>
    </ul>

  </div>
</nav>

</div>
