{% extends 'farm_site/base.html' %}

{% block content %}

<div id='find-us'>
  <h2>Where to Find Us</h2>
  <div class="row">
    <div class='col-xs-10 col-sm-10 col-md-5 col-lg-5'>
      <div class="card">
        <div class="card-block ">

          <div class="card-text">
            <h4 class="card-title">Our Farm Stand</h4>
            <p>Our honor-system farmstand is located at 262nd Ave NE, just off 124th St.</br>Open daily, 9 AM – Dusk</br>Cash or check</br>
            <p>Now featuring Organic fruit from the Okanogan Producers Marketing Cooperative!</p>
            <div id='farm-map' class='map'></div>
        </div>
      </div>
    </div>


  </div>



  <div class='col-xs-10 col-sm-10 col-md-5 col-lg-5'>
    <div class="card">
      <div class="card-block ">

        <div class="card-text">
          <h4 class="card-title">Broadway Farmers Market</h4>
          <p>Sundays from 11-3</br>This market is open year-round Our last 2016 market day will be November 20th</br>Broadway and Pine</p>
          <div id='market-map' class='map'></div>
      </div>
    </div>
  </div>


  <script async defer>
  function initMap() {

    var farmstand = {lat: 47.708, lng: -121.989 };
    var farmmap = new google.maps.Map(document.getElementById('farm-map'), {
      zoom: 14,
      center: farmstand
    });
    var markerfarm = new google.maps.Marker({
      position: farmstand,
      map: farmmap
    });

    var market = {lat: 47.6163942, lng: -122.3231874 };
    var marketmap = new google.maps.Map(document.getElementById('market-map'), {
      zoom: 14,
      center: market
    });
    var markermarket = new google.maps.Marker({
      position: market,
      map: marketmap
    });


  }
  </script>

  <script async defer
      src='https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap'>
  </script>


{% endblock %}
