{% extends 'farm_site/base.html' %}


{% block content %}
<div class="row text-center index_content">


    <div class='image_container col col-md-6'>
      <a href='{% url 'csa' %}'><img class="image" src="../static/assets/farm_pic_csa.jpeg" alt="csa"></img>
      <div class="middle">
        <div class="overlay_text"><h2>Our CSA</h2></div>
      </div></a>
    </div>

    <div class='image_container col col-md-6'>
      <a href='{% url 'find_us' %}'><img class="image" src="../static/assets/farm_pic_stand.jpg" alt="csa"></img>
      <div class="middle">
        <div class="overlay_text"><h2>Find Us</h2></div>
      </div></a>
    </div>


    <div class='image_container col col-md-6'>
      <a href='{% url 'about' %}'><img class="image" src="../static/assets/farm_pic_fields.jpg" alt="about_us"></img>
      <div class="middle">
        <div class="overlay_text"><h2>About</h2></div>
      </div></a>
    </div>


    <div class='image_container col col-md-6'>
      <a href='{% url 'restaurants' %}'><img class="image" src="../static/assets/farm_pic_fennel.jpg" alt="restaurants"></img>
      <div class="middle">
        <div class="overlay_text"><h2>Restaurants</h2></div>
      </div></a>
    </div>

</div>

{% endblock %}
