{% extends 'farm_site/base.html' %}

{% block dashboardnav %}
  {% include 'farm_site/dashboard_nav.html' %}
{% endblock %}

{% block content %}
<h2>{{ current_year }} CSA season pick-up locations</h2>
<div class='row'>
  <div class="col-xs-12 col-s-12 col-md-8 col-lg-6">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Location</th>
      <th># of Signups</th>
    </tr>
  </thead>
  <tbody>
    {% for location in locations %}
      <tr>
        <td>{{ location.name }}</td>
        <td>{{ location.current_signups.count }}</td>
      </tr>
    {% endfor %}
  </tbody>


</table>
</div>
</div>

{% endblock %}

<h2>See all locations</h2>
