{% extends 'farm_site/base.html' %}

{% block dashboardnav %}
  {% include 'farm_site/dashboard_nav.html' %}
{% endblock %}

{% block content %}
<h1>{{ current_year }} CSA season pick-up locations</h1>
<table>
  <thead>
    <tr>
      <th>Location</th>
      <th># of Signups</th>
    </tr>
  </thead>
  <tbody>
    {% for location in locations %}
      <tr>
        <td>{{ location.name }}</td>
        <td>{{ location.current_signups.count }}</td>
      </tr>
    {% endfor %}
  </tbody>


</table>


{% endblock %}

<h2>See all locations</h2>
