{% extends 'farm_site/base.html' %}

{% block dashboardnav %}
{% include 'farm_site/dashboard_nav.html' %}
{% endblock %}

{% block content %}

<div class='col-xs-10 col-sm-10 col-md-8 col-lg-4'>
  <div class="card">
    <div class="card-block ">
      <div class="card-text">
        <h4 >{{ member }}</h4>
          {% if current_signup %}
          <p>{{ current_signup.season }} Sign Up info </br>
          Pickup location: {{ current_signup.location.name }}</br>
          Paid:
            {% if current_signup.paid %}
              Yes
            {% else %}
              No
            {% endif %}
          </br>
          {% else %}
          <p>Not signed up for the current season</p>
          {% endif %}



    <h4>Contact info</h4>

    <p>Address</br>
    {{ member.street_address}}</br>
    {{ member.city }} {{ member.state }} {{ member.zipcode}}</p>

    <p>Phone: {{ member.phone }}</p>

    <p>Email: <a href="mailto:{{member.email}}" target="_blank">{{ member.email }}</a></p>

    <h4>Sign up history</h4>
    {% for signup in signups %}
      <p>{{ signup.season.year }} {{ signup.location.name }}</p>
    {% endfor %}

</div>
</div>
</div>
</div>


{% endblock %}
