{% extends 'farm_site/base.html' %}

{% block dashboardnav %}
{% include 'farm_site/dashboard_nav.html' %}
{% endblock %}

{% block content %}
<h2>{{ member }}</h2>
{% if current_signup %}
  <h4>{{ current_signup.season }} Sign Up info </h4>
  <p>Pickup location: {{ current_signup.location.name }}</p>
  <p>Paid:
    {% if current_signup.paid %}
      Yes
    {% else %}
      No
    {% endif %}
  </p>
{% else %}
<h4>Not signed up for the current season</h4>
{% endif %}

<h4>Sign up history</h4>
{% for signup in signups %}
  <p>{{ signup.season.year }} {{ signup.location.name }}</p>
{% endfor %}

<h4>Contact info</h4>

<h5>Address</h5>
<p>{{ member.street_address}}</p>
<p>{{ member.city }} {{ member.state }} {{ member.zipcode}}</p>

<h5>Phone</h5>
<p>{{ member.phone }}</p>

<h5>Email</h5>
<p>{{ member.email }}</p>

{% endblock %}
