
{% extends 'farm_site/base.html' %}

<h3>Sign up for our CSA</h3>



{% block content %}
<div class="row">
  <h4>CSA Signup</h4>
</div>
<div class="row">
<div class="col-xs-10 col-sm-10 col-md-3 col-lg-3">
  {% block signupnav %}
    {% include 'farm_site/signup_nav.html' %}
  {% endblock %}
</div>

<div class='col-xs-10 col-sm-10 col-md-8 col-lg-4'>
  <div class="card">
    <div class="card-block ">
      <h4 class="card-title">CSA Options</h4>
      <div class="card-text">
        <form method='POST' class='post-form'>
          {% csrf_token %}
          {{ form.as_p }}
          <button type='submit' class='save btn btn-outline-success'>Save Profile Info</button>
        </form>

      </div>
    </div>
  </div>
</div>
<div class='col-xs-10 col-sm-10 col-md-8 col-lg-4'>
  <div id="locations-map" class='map'></div>
</div>


</div>




<script>
function initMap() {

  var styledMapType = new google.maps.StyledMapType([
  {
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#f5f5f5"
      }
    ]
  },
  {
    "elementType": "labels.icon",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#616161"
      }
    ]
  },
  {
    "elementType": "labels.text.stroke",
    "stylers": [
      {
        "color": "#f5f5f5"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#bdbdbd"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#eeeeee"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#757575"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#e5e5e5"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#9e9e9e"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#ffffff"
      }
    ]
  },
  {
    "featureType": "road.arterial",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#757575"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dadada"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#616161"
      }
    ]
  },
  {
    "featureType": "road.local",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#9e9e9e"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#e5e5e5"
      }
    ]
  },
  {
    "featureType": "transit.station",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#eeeeee"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#c9c9c9"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#9e9e9e"
      }
    ]
  }
], {name: 'Styled Map'});

var locationsmap = new google.maps.Map(document.getElementById('locations-map'), {
  zoom: 10,
  center: {lat: 47.6528282, lng: -122.204215},
  mapTypeControlOptions: {
    mapTypeIds: ['roadmap', 'satellite', 'hybrid', 'terrain','styled_map']
          }
});

locationsmap.mapTypes.set('styled_map', styledMapType);
locationsmap.setMapTypeId('styled_map');


var locations = [
  {lat: 47.6266607, lng: -122.3254994 },
  {lat: 47.5581985, lng: -122.287716 },
  { lat: 47.7014848, lng: -121.9919785},
  { lat: 47.6552893, lng: -122.4026392},
  { lat: 47.6679742, lng: -122.2776743},
  { lat: 47.7546913, lng: -122.1580373 },
  { lat: 47.6225843, lng: -122.2994758 },
  { lat: 47.5367305, lng: -122.2720953},
  { lat: 47.638071, lng: -122.3594737},
  { lat: 47.661188, lng: -122.3366958},
  { lat: 47.6938491, lng: -122.3194076 },
  { lat: 47.6826602, lng: -122.3572397 },
  { lat: 47.6796855, lng: -122.3766637 },
  { lat: 47.5600099, lng: -122.3892695 },
  { lat: 47.6076631, lng: -122.3369395 },
  { lat: 47.6324493, lng: -122.3124137 }
];

var markers = locations.map(function(location, i){
  return new google.maps.Marker({
    position: location,
    map: locationsmap,
    icon: {
        path: google.maps.SymbolPath.CIRCLE,
        strokeColor: "green",
        scale: 3
    },
  })
});


}
</script>


<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap">
</script>



{% endblock %}
