<div class='signup-nav'>
<ul class='signup'>
  <li class={% if request.resolver_match.url_name == "signup_member" %}"active-step"{% endif %}>Member Information</li>
  <li class={% if request.resolver_match.url_name == "signup_csa" %}"active-step"{% endif %}>CSA Options</li>
  <li class={% if request.resolver_match.url_name == "signup_success" %}"active-step"{% endif %}>Create User</li>
  <li class={% if request.resolver_match.url_name == "signup_done" %}"active-step"{% endif %}>Done</li>
</ul>
</div>
